@use "../../../../../styles/functions.scss" as functions;

.code {
  div {
    display: flex;
    column-gap: functions.rem(8);

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    input[type="number"] {
      appearance: textfield;
    }

    input {
      height: functions.rem(52);
      width: functions.rem(50) !important;
      border-radius: functions.rem(10);
      border: functions.rem(1) solid var(--gray-300);
      color: var(--gray-700);
      font-size: functions.rem(24);
      font-weight: 400;
      line-height: normal;
      outline: none;
    }
  }

  .resend {
    display: flex;
    justify-content: center;
    margin: functions.rem(12) 0 functions.rem(24);

    p {
      color: var(--gray-500);
      font-size: functions.rem(14);
      font-weight: 400;
      margin: 0;

      span {
        color: var(--blue-600);
      }
    }

    button {
      padding: 0;
      width: max-content;
      height: max-content;
      color: var(--blue-600);
      font-size: functions.rem(14);
      font-weight: 400;
    }
  }

  button {
    width: 100%;
  }
}
