@use "../../../../styles/functions" as functions;

.content {
  padding: functions.rem(12);

  &__item {
    display: flex;
    flex-direction: column;
    padding-bottom: functions.rem(24);
    border-bottom: functions.rem(1) solid var(--gray-300);

    .organisation {
      font-size: functions.rem(16);
      color: var(--black);
    }

    h2 {
      font-size: functions.rem(40);
      font-weight: 400;
    }

    h3 {
      font-size: functions.rem(24);
      font-weight: 400;
      margin-top: functions.rem(24);
    }

    p {
      color: var(--gray-600);
    }
  }
}
