@use "../../../styles/functions" as functions;

.md_hidden {
  display: block !important;
  @media screen and (max-width: 700px) {
    display: none !important;
  }
}

.md_visible {
  display: none !important;
  @media screen and (max-width: 700px) {
    display: flex !important;
  }
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.column_links {
  padding-top: functions.rem(40);
  display: flex;
  gap: functions.rem(12);
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;

  .header {
    padding: functions.rem(24) functions.rem(48);
    @media screen and (max-width: 576px) {
      padding: functions.rem(24) functions.rem(16);
    }
    background: #bad5f3;

    &_items {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__navbar {
      display: flex;
      align-items: center;
      gap: functions.rem(38);
      list-style: none;
      color: #000000;

      li:hover {
        cursor: pointer;
      }

      @media screen and (max-width: 950px) {
        display: none;
      }
    }

    &__right {
      display: flex;
      align-items: center;
      gap: functions.rem(24);

      .profile {
        display: flex;
        align-items: center;
        gap: functions.rem(10);
        cursor: pointer;

        &__left {
          display: flex;
          flex-direction: column;
          gap: functions.rem(4);

          h3 {
            font-weight: 400;
            font-size: functions.rem(14);
          }

          p {
            font-size: functions.rem(10);
            text-align: right;
          }
        }
      }
    }
  }

  .footer {
    // display: flex;
    // flex-direction: column;
    gap: functions.rem(60);
    background: #262425;
    padding: functions.rem(24) 0;
    color: var(--white);

    .top {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: functions.rem(12);
      margin-bottom: functions.rem(40);

      @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
      }

      padding: 0 functions.rem(40);
      padding-top: functions.rem(36);

      &__item {
        display: flex;
        flex-direction: column;
        gap: functions.rem(16);
        width: functions.rem(240);

        p {
          color: var(--gray-400);
        }

        .socials {
          padding-top: functions.rem(20);
          display: flex;
          align-items: center;
          gap: functions.rem(20);
        }
      }
    }

    .bottom {
      padding: 0 functions.rem(40);
      padding-top: functions.rem(15);
      border-top: functions.rem(1) solid var(--white);
      font-size: functions.rem(12);
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__right {
        display: flex;
        align-items: center;
        gap: functions.rem(16);
      }
    }
  }
}

.dropdown__item {
  display: flex;
  align-items: center;
  gap: functions.rem(4);
}
