@import "../../styles/functions";

.main {
  display: flex;
  flex-direction: column;
  gap: rem(60);
  padding: rem(24) 0;
  max-width: 90%;
  @media screen and (max-width: 576px) {
    max-width: 95%;
  }
  margin: 0 auto;

  .section_top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(24);

    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      // width: 50%;
      padding: rem(50);
      @media screen and (max-width: 576px) {
        padding: rem(8);
      }
      gap: rem(36);
      border-radius: rem(20);
      background: linear-gradient(to bottom, #b3d0f2, #fff);

      h1 {
        max-width: rem(800);
        line-height: 110%;
        font-size: clamp(rem(30), 5vw, rem(55));
        color: var(--black);
      }

      p {
        color: var(--gray-600);
        max-width: rem(450);
      }

      &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 700px) {
          flex-direction: column;
        }
        gap: rem(24);

        button {
          width: 100%;
          font-size: rem(24);
          padding: rem(24);
        }
      }
    }

    .right {
      // width: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .section_post {
    display: flex;
    flex-direction: column;
    gap: rem(100);

    h2 {
      font-size: rem(50);
      text-align: center;
    }

    .posts {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: rem(20);

      @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .post {
        box-sizing: border-box;
        // width: rem(290);
        padding: rem(32);
        border: rem(1) solid var(--gray-300);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: rem(24);
        border-radius: rem(20);
        width: 100%;

        &:hover {
          cursor: pointer;
          background: linear-gradient(to bottom, #b3d0f2, #fff);
        }

        h3 {
          font-size: rem(24);
          color: var(--gray-800);
        }

        p {
          font-weight: var(--gray-600);
        }

        button {
          font-size: rem(18);
        }
      }
    }
  }

  .section_work {
    display: flex;
    flex-direction: column;
    gap: rem(100);

    h2 {
      font-size: rem(50);
      text-align: center;
    }

    .works {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: rem(20);

      @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .work {
        box-sizing: border-box;
        padding: rem(32);
        border: rem(1) solid var(--gray-300);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(24);
        border-radius: rem(20);

        &:hover {
          cursor: pointer;
          background: linear-gradient(to bottom, #b3d0f2, #fff);
        }

        h3 {
          font-size: rem(24);
          color: var(--gray-800);
        }

        p {
          font-weight: var(--gray-600);
        }
      }
    }
  }
}
